@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    body {
        background-color: #ffffff;
        background: url(../img/fondo-principal.png);
        background-repeat: no-repeat;
        font-family: 'Poppins', sans-serif;
    }

    .container-header {
        width: 100%;
        height: auto;
    }

    /* HEADER */
    header {
    position: fixed;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.2s;
    padding: 30px 10px;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    }

    header {
        position: relative;
        top: 20px;
    }

    nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    header ul {
    gap: 40px;
    position: absolute;
    left: 52%;
    bottom: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    header ul li {
    list-style: none;
    transition: 0.9s all;
    }

    header ul li a {
        position: relative;
        margin: 0 16px;
        text-decoration: none;
        justify-content: space-between;
        color: #131740;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        transition: 1s;
    }

    .pink {
        color: #F43FE2;
        font-weight: bold;
    }

    header ul li a:hover {
        color: #131740;    
    }

    ul:hover li {
        filter: blur(1px);
    }
    
    ul li:hover {
        filter: blur(0px);
        }

    .header img {
        width: 9%;
        height: auto;
        color: #fff;
        font-size: 26px;
        font-weight: 600;
        text-align: start;
        position: absolute;
        left: 4%;
        justify-content: start;
        text-decoration: none;
        cursor: pointer;
    } 

.formulario {
    width: 20%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
}

.mensaje-error {
    color: #e75656;
    font-size: 15px;
    font-weight: 500;
    top: 115%;
    left: 1%;
    position: absolute;
    display: none;
}
    
.search {
    width: 100%;
    height: auto;
    padding: 12px 16px 11px 20px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 8px;
    transition: .6s ease;
    background-color: #ffffff;
}

::placeholder {
    color: #5a5d79;
    opacity: 0.9;
    font-size: 16px;
    text-align: start;
}

.formulario input:focus {
    border-color: #F43FE2;
}


/* Container - Creative */
.container-creative {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 60px;
    justify-content: center;
    align-items: center;
}

.description-creative {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 58%;
    height: auto;
    position: relative;
    left: 10%;
}

.description h6 {
    width: 50%;
    padding: 9px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: inline-flex;
    margin: 0px 0px 31px;
    border: transparent;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background-color: #5C28CA;
}

.description h1 {
    color: #00234B;
    font-size: 65px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 31px;
}

.description p {
    color: #00234B;
    font-size: 19px;
    font-weight: 400;
    text-align: start;
    margin: 0px 0px 31px;
}

.description a {
    gap: 6px;
    width: auto;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    background: #F43FE2;
    border: transparent;
    border-radius: 6px;
    box-shadow: unset;
    text-decoration: none;
    transition: .6s ease;
    padding: 13px 38px 12px 40px;
}

.description a:hover {
    background-color: #00234B;
}

.description a svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.image {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image figure {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    object-fit: cover;
    position: relative;
    right: 10%;
}

.image figure img {
    width: 945px;
    height: 726px;
    background-position: center;
}

/* Modal */
.container-modal {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
    z-index: 100;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.6);
}

.modal-content {
	width: 40%;
	height: auto;
    max-height: 90%;
	display: flex;
    margin: 5% auto;
	padding: 0px 0px 45px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: transparent;
	border-radius: 16px;
	box-sizing: border-box;
	overflow: hidden;
	background: url(../img/mark-analytics.png);
	background-color: rgba(255,255,255,0.9);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 6px rgba(255,255,255,0.6);
}

.modal-content figure {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	object-fit: cover;
}

.modal-content figure img {
	width: 75%;
	height: auto;
}

.description-modal {
	width: 90%;
	height: 100%;
	text-align: center;
}

.modal-content h1 {
	color: #120A21;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	margin: 0px 0px 10px;
}

.modal-content p {
	color: #120A21;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin: 0px 0px 35px;
}

.modal-content a {
	padding: 10px 40px;
	color: #fff;
    border: transparent;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
    background-color: #F43FE2;
    transition: .6s ease;
}

.modal-content a:hover {
    color: #fff;
    background-color: #120A21;
}

/* Container - Contact */
.container-contact {
    display: flex;
    flex-wrap: wrap; 
    overflow: hidden;
    background-color: #fff;
}

.card-contact {
    flex: 1 1 30%;
    height: 217px;
    box-sizing: border-box; 
    display: grid;
    place-items: center;
    border-top: none;
    border-left: 0.1px solid #00234B;
    border-bottom: 1px solid #00234B;
    transition: .6s ease;
}

.card-contact:hover {
    background: url(../img/hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact svg {
    width: 49px;
    height: 51px;
}

.contact-support {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background-green {
    background: url(../img/hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-support p {
    color: #120A21;
    font-size: 15px;
    font-weight: 400;
    text-align: start;
}

.contact-support h3 {   
    color: #120A21;
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    line-height: 0.6;
}

.card-contact:hover svg {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Container - Services */
.container-services {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 120px;
    background: url(../img/mark-service2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services {
    width: 100%;
    max-width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.description-service {
    width: 79%;
    height: auto;
    margin: 0 auto 30px;
}

.description-service h6 {
    width: 28%;
    padding: 9px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: inline-flex;
    margin: 0px 0px 31px;
    border: transparent;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background-color: #5C28CA;
}

.description-service h2 {
    color: #120A21;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.container-seo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-service {
    width: 300px;
    height: 325px;
    margin: 10px 0px;
    padding: 39px 32px;
    border: transparent;
    border-radius: 6px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 60px rgba(92, 40, 202, 0.07);
}

.card-service figure {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    margin: 0px 0px 25px;
}

.card-service figure img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: .6s ease;
}

.card-service:hover figure img {
    transform: translateY(-10px);
}

.content-card {
    width: 100%;
    height: auto;
    display: flex;
    text-align: start;
    justify-content: start;
    flex-direction: column;
}

.content-card .tittle-card {
    color: #120A21;
    font-size: 22px;
    font-weight: 600;
    text-align: start;
    text-decoration: none;
    margin: 0px 0px 10px;
}

.content-card p {
    color: #617798;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    margin: 0px 0px 27px;
}

.content-card a {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    text-decoration: none;
    justify-content: start;
    align-items: center;
    color: #120A21;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    transition: .6s ease;
}

.content-card a:hover {
    color: #5C28CA;
}

/* Container - Plan */
.container-plan {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.image-plan {
    width: 100%;
    max-width: 50%;
    height: 100%;
    padding: 130px 0px;
    border-right: 1px solid #000;
    background: url(../img/fondo-2.png);
    background-position: left;
    background-repeat: no-repeat;
}

.image-plan figure {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}

.image-plan figure img {
    width: 90%;
    height: 90%;
}

.description-plan {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan {
    width: 100%;
    max-width: 63%;
}

.plan h6 {
    width: 38%;
    padding: 9px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: inline-flex;
    margin: 0px 0px 31px;
    border: transparent;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background-color: #5C28CA;
}

.plan h2 {
    color: #120A21;
    font-size: 42px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 22px;
}

.plan p {
    color: #617798;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    margin: 0px 0px 40px;
}

.plan a {
    gap: 6px;
    width: auto;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    background: #F43FE2;
    border: transparent;
    border-radius: 6px;
    box-shadow: unset;
    text-decoration: none;
    transition: .6s ease;
    padding: 13px 38px 12px 40px;
}

.plan a:hover {
    background-color: #00234B;
}

.plan a svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

/* Container - Global Clients */
.container-global {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 130px 0px 0px;
    background: url(../img/bg-partners2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.description-global {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 0px 120px 250px;
}

.global {
    width: 590.31px;
    height: 552px;
}

.global h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #5C28CA;
    margin: 0px 0px 22px 1px;
    padding: 9px 20px 7px;
    display: inline-flex;
    border-radius: 5px;
}

.global h2 {
    color: #120A21;
    font-size: 38px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 22px;
}

.global h2 span {
    color: #F43FE2;
}

.global p {
    color: #120A21;
    font-size: 17px;
    font-weight: 300;
    text-align: start;
    margin: 0px 0px 31px;
}

.global a {
    gap: 6px;
    width: auto;
    color: #000;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    background: transparent;
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: unset;
    text-decoration: none;
    transition: .6s ease;
    padding: 13px 38px 12px 40px;
    margin: 0px 0px 70px;
}

.global a:hover {
    color: #fff;
    background-color: #1a1a1a;
}

.global a svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.container-counter {
    width: 485.38px;
    height: 121px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    display: inline-flex;
}

.porcentaje {
    width: 199.41px;
    height: 67px;
    display: flex;
    justify-content: space-around;
}

.description-number {
    width: auto;
    height: auto;
}

.description-number h2 {
    color: #120A21;
    font-weight: 600;
}

.description-number  h2 span {
    font-size: 20px;
}

.description-number .two {
    margin-top: -24px;
}

.description-number p {
    color: #120A21;
    font-size: 16px;
    font-weight: 300;
    text-align: start;
}

/* Container - Brands */
.container-brands {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.brands {
    gap: 17px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-brand {
    width: 366px;
    height: 130px;
    display: grid;
    place-items: center;
    border: transparent;
    border-radius: 12px;
    transition: .3s ease;
    background-color: #fff;
}

.card-brand:hover {
    border: 1px solid #F43FE2;
    box-shadow: 0px 0px 10px rgba(244, 63, 226, 1);
}

/* Container - Analytics */
.container-analytics {
    gap: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 0px 100px 0px;
    justify-content: center;
    align-items: center;
}

.images-analytics {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-right: 150px;
    border-right: 1px solid #000;
    background: url(../img/mark-analytics.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.images-analytics figure {
    width: auto;
    height: auto;
    display: grid;
    place-items: center;
}

.description-analytics {
    width: 100%;
    max-width: 35%;
    height: auto;
    margin-right: 50px;
}

.description-analytics h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #5C28CA;
    margin: 0px 0px 22px 1px;
    padding: 9px 20px 7px;
    display: inline-flex;
    border-radius: 5px;
}

.description-analytics h2 {
    color: #120A21;
    font-size: 40px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 22px;
}

.description-analytics p {
    color: #120A21;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    margin: 0px 0px 30px;
}

.container-check {
    width: 100%;
    height: auto;
    margin: 0px 0px 22px;
}

.check {
    gap: 10px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
    margin: 0px 0px 10px;
    justify-content: start;
    align-items: center;
    text-align: start;
}

.check box-icon {
    width: 33px;
    height: 33px;
    display: flex;
    background-color: #F43FE2;
    border: transparent;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.check p {
    margin: 0;
    color: #120A21;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}

.description-analytics a {
    gap: 6px;
    width: auto;
    color: #120A21;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: unset;
    text-decoration: none;
    transition: .6s ease;
    padding: 13px 38px 12px 40px;
}

.description-analytics a:hover {
    color: #fff;
    background-color: #1a1a1a;
}

.description-analytics a svg {
    width: 16px;
    height: 16px;
    fill: #000;
}

/* Container - Blogs */
.container-blog {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding: 100px 0px 250px 0px;
    justify-content: center;
    align-items: center;
    background: url(../img/mark-blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog {
    width: 70%;
    height: 100%;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.description-blog {
    width: 53%;
    height: auto;
}

.description-blog h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #5C28CA;
    margin: 0px 0px 22px 1px;
    padding: 9px 20px 7px;
    display: inline-flex;
    border-radius: 5px;
}

.description-blog h2 {
    color: #120A21;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 22px;
}

.container-articles {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-blog {
    width: 410px;
    height: 455px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    transition: .6s ease;
}

.card-blog:hover{
    color: #F43FE2;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}

.card-blog figure {
    width: 100%;
    height: auto;
}

.card-blog figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.description-card {
    width: 100%;
    height: 100%;
    text-align: start;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 20px;
}

.description-card p {
    color: #5C28CA;
    font-size: 14px;
    font-weight: 300;
    text-align: start;
    line-height: 1.5px;
}

.description-card h3 {
    color: #120A21;
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 15px;
    transition: .6s ease;
}

.description-card h3:hover {
    color: #F43FE2;
}

.description-card a {
    gap: 10px;
    color: #120A21;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .6s ease;
}  

.description-card a:hover {
    color: #F43FE2;

}

/* Container - Email */
.container-email {
    gap: 20px;
    width: 1291px;
    height: 268px;
    margin: 0px 306px;
    position: absolute;
    top: 578%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/bg-newsletter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description-email {
    width: 100%;
    max-width: 615px;
    height: 158px;
    display: flex;
    position: relative;
    bottom: 15px;
    left: 20px;
    justify-content: start;
    flex-direction: column;
}

.description-email h6 {
    color: #fff;
    width: 30.4%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #5C28CA;
    margin: 0px 0px 22px 1px;
    padding: 9px 20px 7px;
    display: inline-flex;
    border-radius: 5px;
}

.description-email h2 {
    color: #120A21;
    font-size: 38px;
    font-weight: 600;
    text-align: start;
}

.container-form {
    width: 40%;
    height: auto;
    display: flex;
    position: relative;
    right: 20px;
    top: 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.container-form form {
    width: 100%;
    height: 55px;
    margin: 0px 0px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.container-form form {
    position: relative;
}

.container-email form input {
    width: 100%;
    height: auto;
    outline: none;
    color: #120A21;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 18px 50px 18px 56px;
    transition: .6s ease;
    background-color: rgba(255, 255, 255, 0.9);
}

.container-email form input:focus {
    border-color: #FFE74C;
}

::placeholder {
    color: #120A21;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.container-email form box-icon {
    width: 24px;
    height: 24px;
    fill: #ccc;
    position: relative;
    bottom: 42px;
    left: 20px;
}

.container-email form button  {
    gap: 10px;
    color: #fff;
    padding: 12px 40px;
    bottom: 85px;
    left: 66.5%;
    position: relative;
    font-weight: 600;
    text-align: center;
    white-space: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #120A21;
    font-size: 16px;
    border-radius: 5px;
    transition: .6s ease;
    border: transparent;
}

.container-email form button:hover {
    color: #fff;
    background-color: #5C28CA;
}

.container-email form button svg {
    width: 14px;
    height: 14px;
}

.every {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    justify-content: start;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.every p {
    color: #120A21;
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    position: relative;
    top: 9px;
}


/* Container - form */
footer {
    width: 100%;
    height: 100%;
    display: flex;
    border: transparent;
    padding: 200px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);
}

.container-footer {
    width: 1320px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 200px;
}

.description-footer {
    width: 520px;
    height: 272px;
}

.description-footer figure {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: 0px 0px 31px;
}

.description-footer p {
    color: #120A21;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    line-height: 1.8;
    letter-spacing: -0.15px;
    margin: 0px 0px 31px;
}

.networks {
    gap: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.networks a box-icon  {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    transition: .6s ease;
}

.networks a box-icon:hover {
    transform: translateY(-10px);
}

.link {
    width: 190px;
    height: 295px;
}

.link h4 {
    color: #120A21;
    font-size: 22px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 28px;
}

.link li {
    cursor: pointer;
    list-style: none;
    margin: 0px 0px 20px;
    transition: .6s ease;
}

.link li a {
    color: #120A21;
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    text-decoration: none;
}

.link li:hover {
    color: #1a1a1a;
    transform: translateX(10px);
}

.center li a {
    top: 55px;
    position: relative;
}

.support {
    width: 300px;
    height: auto;
}

.support h4 {
    color: #120A21;
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 2px;
}

.location {
    gap: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 20px;
    margin-top: 10px;
}

.location box-icon {
    width: 34px;
    height: 34px;
}

.description-support {
    width: 100%;
    height: auto;
    display: flex;
    text-align: start;
    position: relative;
    top: 10px;
    justify-content: start;
    flex-direction: column;
}

.description-support h5 {
    color: #120A21;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

.description-support p {
    color: #120A21;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

/* Author */
.author {
    width: 100%;
    height: auto;
    display: flex;
    padding: 26px 0px 0px 0px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(18, 10, 33, 0.1);
}

.author p {
    color: #120A21;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    margin-top: 20px;
}

.author p span {
    color: #5C28CA;
    font-weight: 500;
}

.reserved {
    gap: 30px;
    width: auto;
    height: auto;
    display: flex;
}

.reserved li {
    display: flex;
    list-style: none;
}

.reserved li a {
    color: #120A21;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    text-decoration: none;
    transition: .6s ease;
}

.reserved li a:hover {
    color: #F43FE2;
}

/* Responsive */
